@charset "UTF-8";

/* #7ebee8 - Blue
 #c745a7 - Pink
 #a480c7 - purple
 */

 @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
    
}

body {
    background-image: linear-gradient(to top left,#7ebee8, #9658d3 );
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
    padding-top: 89px;
    padding-bottom: 28px;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 26px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}


select#smonth {
    width: 109px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 19px;
}

select#sday {
    width: 46px;
    text-align: center;
    font-size: 1.2em;
}

input[type="button"] {
    width: 72px;
    padding: 4px;
    margin: 20px;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    background: #c745a7;
    border: 0px;
    box-shadow: 0px 0px 2px black;
}

input[type="button"]:hover {
    background-color: #c745a6a7;
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.569);
    cursor: pointer;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

img#trocarImg {
    width: 333px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px #0000009e;
    margin-top: 27px;
}
